body{
    padding: 0px;
    margin: 0px;
}

.explanation{
    font-family: "나눔스퀘어OTF";
    font-size: 20px;
    text-align: center;
}

.explanation_title{
    font-family: "나눔스퀘어OTF ExtraBold";
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
    color: rgb(142, 151, 92);
}