body{
    margin: 0px;
    padding: 0px;
}

.list1 {  /* 한 화면에 가득 찬 하나의 메인 div를 생성하는데 사용합니다.*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    font-family: "나눔스퀘어OTF_ac";
}

.list1 h1 {
    font-family: "나눔스퀘어OTF_ac ExtraBolod";
    padding-left: 30px;
    color: rgb(39, 105, 114);
    font-size : 40px;   
}

.list1 h3 {
    margin-top: 0px;
    padding-top: 20px;
    font-family: "나눔스퀘어OTF ExtraBold";
    font-size: 50px;
    text-align: center;
}   

.divlist{  /* 사진을 나열 때 사용하는 List입니다*/
    font-family: "나눔스퀘어OTF";
    display: inline-block;
    margin: 40px 20px;
    padding-bottom: 20px;
    width: 400px;
}

.divlist img{
    display: flex;
    width: 400px;
    height: 400px;
    transition: 0.5s ease-in-out;
}

.divlist img:hover{
    transform: scale(1.1);
}


/* 제목과 글을 수평으로 나열 할 때 사용하는 List입니다.*/
.divlist2{ 
    font-family: "나눔스퀘어OTF";
    display: inline-block;
    margin: 10px 20px;
    width: 400px;
}

.divlist3{
    display: flex;
    align-items : center;
    justify-content: center;
}