body {
    margin: 0px;
    padding: 0px;
}

.middle {
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 3%;
}

.middle h3 {
    font-size: 2em;
    animation-name: in-out; 
    animation-duration: 2s; 
    animation-iteration-count: 1; 
}

.middle p{
    font-family: 'G마켓 산스 TTF';
    animation-name: in-out; 
    animation-duration: 2s; 
    animation-iteration-count: 1; 
}

@keyframes in-out{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.profile {
    border-style: solid;
    border-radius: 70%;
    overflow: hidden;
    box-shadow: 5px 10px 20px;
    animation-name: in-out; 
    animation-duration: 2s; 
    animation-iteration-count: 1; 
}


.explanation{
    font-family: "나눔스퀘어OTF";
    font-size: 20px;
    text-align: center;
}

.explanation_title{
    font-family: "나눔스퀘어OTF ExtraBold";
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
    color: rgb(142, 151, 92);
}